ok-script==1.0.109; sys_platform == "win32"
ok-script @ git+https://github.com/xbycdn4y-star/ok-script.git@linux-x11-bootstrap; sys_platform != "win32"
onnxocr-ppocrv5==0.0.15
openvino
opencv-python
gitpython
mss; sys_platform != "win32"
python-xlib; sys_platform != "win32"
